set timeout=5
set default=0

menuentry "Single User" {
    linux /boot/bzImage console=ttyS0
    initrd /boot/single.gz
}

menuentry "Multi User" {
    linux /boot/bzImage console=ttyS0
    initrd /boot/multi.gz
}
